* {
	margin:0;
	padding:0;
}

ol, ul, a {
	text-decoration:none;
	list-style:none;
}

body {
	font-style:sans-serif;
	font-size:16px;
	color:#666;

}

header {
	position:relative;
	display:block;
	margin:100px auto 50px;
	text-align:center;
}

header a img {
	border-radius:50%;
	margin-bottom:10px;
}

h1 {
	font-size:40px;
	color:#222;
	padding-bottom:10px;
}

h2 {
	font-size:18px;
	font-weight:300;
	color:#aaa;
}

#main_nav {
	display:block;
	text-align:center;
}

#main_nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

#main_nav ul li {
	line-height:24px;
	font-weight:400;
	color:#666;
	padding-left:30px;
}

footer {
	position:relative;

	border-top:1px solid #ededed;
	padding:40px 0;
	margin:40px 0 0;

	font-size:14px;
	color:#aaa;
	font-weight:300;

	text-align:center;
}


/* project */

.wrap {
	position:relative;
	left:50%;
	margin-left:-230px;
	padding-top:60px;
}

.wrap h2 {
	font-size:20px;
	font-weight:600;
	color:#222;
}

.wrap h3 {
	padding-top:10px;
}

.wrap p {
	padding:10px;
}

.list_1 {
	padding-bottom:30px;
	width:480px;
	text-align:center;
}

.list_2 {
	width:480px;
	text-align:center;
}

.list_2 span {
	font-size:14px;
}

.list_2 h4 {
	padding-top:5px
}